<%- include('../partials/header') %>
    <h1 class="display-5">Barras Access</h1>

    <div class="container-fluid">
        <p> É uma ferramenta de reprogramação da mente. É uma terapia corporal e energética através de 32 pontos do
            cérebro, libertando de medos e paradigmas limitadores e amplia a perceção para novas possibilidades para o
            mundo.
        </p>
    </div>
    <%- include('../partials/footer') %>