<%- include('../partials/header') %>

    <div class="row pt-5">
        <div class="col-12">
            <h1 class="display-5 text-center">Barras Access</h1>
        </div>
        <div class="row pt-3">
            <div class="col-12 mx-3">
                <p> É uma ferramenta de reprogramação da mente. É uma terapia corporal e energética através de 32 pontos
                    do
                    cérebro, libertando de medos e paradigmas limitadores e amplia a perceção para novas possibilidades
                    para
                    o
                    mundo.
                </p>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>