<%- include('../partials/header') %>

    <div class="row pt-5">
        <div class="col-12">
            <h1 class="display-5 text-center">Acupuntura</h1>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12 mx-3">
            <p> Trata-se de uma técnica médica originária da China, que ajuda a equilibrar o corpo e aliviar dores e
                tensões
                através da inserção de agulhas muito finas, em determinados pontos do corpo (pontos que transportam a
                energia vital do corpo).
            </p>
        </div>
    </div>
    <%- include('../partials/footer') %>