<%- include('../partials/header') %>
    <div class="row pt-5">
        <div class="col-12">
            <h1 class="display-5 text-center">Mesa Radiônica</h1>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12 mx-3">
            <p> É uma terapia de reequilíbrio energético, que possibilita a mudança do campo vibracional através de um
                instrumento composto por gráficos e símbolos da Radiestesia que ajudam a analisar como estão as energias
                em
                determinado setor da sua vida.
            </p>
        </div>
    </div>
    <%- include('../partials/footer') %>