<%- include('../partials/header') %>
    <h1 class="display-5">Mesa Radiônica</h1>

    <div class="container-fluid">
        <p> É uma terapia de reequilíbrio energético, que possibilita a mudança do campo vibracional através de um
            instrumento composto por gráficos e símbolos da Radiestesia que ajudam a analisar como estão as energias em
            determinado setor da sua vida.
        </p>
    </div>
    <%- include('../partials/footer') %>