<%- include('../partials/header') %>

    <div class="row pt-5">
        <div class="col-12">
            <h1 class="display-5 text-center">Reiki</h1>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-6">
            <img src="../img/reiki.png" class="rounded" alt="" width="720" height="378">
        </div>
        <div class="col-6">
            <p> Prática que tem como princípio o equilíbrio (físico, mental e espiritual), através da imposição das mãos
                de
                forma a canalizar energia vital do Universo, levando esta energia a fluir através das zonas em
                desarmonia,
                eliminado bloqueios energéticos, restabelecendo o bom funcionamento dos órgãos, repondo o equilíbrio e
                bem-estar.
            </p>
        </div>
    </div>
    <%- include('../partials/footer') %>