<%- include('../partials/header') %>
    <div class="text-center p-2">
        <h1 class="display-5">Reiki</h1>
    </div>

    <div class="text-center">
        <img src="../img/reiki.png" class="rounded" alt="" width="720" height="378">
    </div>
    <div class="container-fluid p-4">
        <p> Prática que tem como princípio o equilíbrio (físico, mental e espiritual), através da imposição das mãos de
            forma a canalizar energia vital do Universo, levando esta energia a fluir através das zonas em desarmonia,
            eliminado bloqueios energéticos, restabelecendo o bom funcionamento dos órgãos, repondo o equilíbrio e
            bem-estar.
        </p>
    </div>
    <%- include('../partials/footer') %>