<footer class="footer pt-2 fixed-bottom">
    <div class="text-white p-2" style="background-color:#A3B18A;">
        © Kind Karma 2022
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>