<footer class="footer bg-dark py-2 mt-auto">
    <div class="container">
        <span class="text-muted"> &copy; KindKarma 2022</span>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>