<%- include('partials/header') %>

    <div class="text-center p-2">
        <h1 class="display-5">Kind Karma</h1>
    </div>

    <button type="button" class="btn btn-primary">Primary</button>

    <div class="text-center">
        <img src="img/Elephant-Art.png" class="rounded" alt="" width="354" height="612">
    </div>
    <%- include('partials/footer') %>