<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/home.css">

    <div class="container text-center p-3">
        <div class="row pt-5">
            <div class="col-12">
                <h1 id="homeTitle" class="display-5">Kind Karma</h1>
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>