<%- include('partials/header') %>

    <div class="container text-center p-3">
        <div class="row pt-5">
            <div class="col-12">
                <h1 class="display-5">Profile</h1>
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>