body {
    height: 100vh;
    background-image: url("https://i.pinimg.com/564x/08/f6/84/08f6845ac0ded68931632fd90d862498.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

#homeTitle {
    color: #588157;
    font-variant: small-caps;
}

.btn btn-outline {
    color: #606C38;
}

.bi bi-person-circle text {
    color: #606C38;
}