<div class="modal" id="forgotPasswordModal" aria-hidden="true" aria-labelledby="forgotPasswordModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="forgotPasswordModal">Esqueceu a password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="forgotPasswordEmailInput" placeholder="Email">
                        <label for="forgotPasswordEmailInput">Email</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-target="#loginModal"
                        data-bs-toggle="modal">Save changes</button>
                </div>
            </div>

        </div>
    </div>
</div>